.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: Rubik, sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  padding-left: 20px;
}

header span {
  color: rgb(0, 17, 255);
}

.octopus {
  width: 720px;
  height: 370px;
  position: relative;
  margin: 0 auto;
}

.octopus-head {
  width: 250px;
  height: 352px;
  background: rgb(0, 17, 255);
  border-radius: 0 250px 200px 0;
  position: absolute;
  right: 50px;
}

.octopus-head::after {
  content: "";
  display: block;
  right: 35%;
  top: 20%;
  width: 70px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
}

.skills {
  position: absolute;
  right: 280px;
  width: 450px;
}

.skill {
  font-size: 14px;
  color: #ffffff;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  text-align: right;
  vertical-align: middle;
  margin-bottom: 16px;
  position: relative;
}

.skill::before {
  content: "";
  display: block;
  height: 30px;
  background-color: rgb(0, 17, 255);
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}

.skill::after {
  content: "";
  display: block;
  height: 30px;
  background-color: rgb(75, 255, 186);
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.skill-html::before {
  width: 70%;
}

.skill-html::after {
  width: 90%;
}

.skill-css::before {
  width: 40%;
}

.skill-css::after {
  width: 70%;
}

.skill-js::before {
  width: 20%;
}

.skill-js::after {
  width: 40%;
}

.skill-eng::before {
  width: 30%;
}

.skill-eng::after {
  width: 50%;
}

.skill-blind::before {
  width: 40%;
}

.skill-blind::after {
  width: 50%;
}

.skill-tm::before {
  width: 30%;
}

.skill-tm::after {
  width: 50%;
}

.skill-softskill::before {
  width: 40%;
}

.skill-softskill::after {
  width: 70%;
}

.skill-new::before {
  width: 30%;
}

.legend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 1em;
}

.legend ul li {
  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-right: 1em;
}

.legend .present {
  background-color: rgb(0, 17, 255);
  color: #ffffff;
}

.legend .future {
  background-color: rgb(75, 255, 186);
  color: rgb(0, 17, 255);
}
