header {
  font-family: Rubik, sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2em;
  padding-left: 2em;
}

a {
  font-family: Rubik, sans-serif;
}

a:visited {
  color: #ffffff;
}

header span {
  color: rgb(0, 17, 255);
}

.octopus {
  position: relative;
  padding-top: 2em;
  margin: 0 auto;
}

.octopus-head {
  width: 20em;
  height: 23.5em;
  background: rgb(0, 17, 255);
  border-radius: 0 15em 15em 0;
  position: absolute;
  left: 35em;
}

.octopus-head__eye {
  display: inline-block;
  right: 3em;
  margin: 3em 3em 0 5em;
  width: 4em;
  height: 2em;
  border-radius: 50%;
  vertical-align: middle;
  background: #ffffff;
  position: absolute;
}

.octopus-tentacle {
  position: relative;
  width: 40em;
  height: 3em;
}

.skill {
  top: 10px;
  right: 10px;
  position: absolute;
  font-family: Arial;
  color: #ffffff;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

.skill-scale {
  height: 2.5em;
  background: rgb(0, 17, 255);
  border-radius: 1em 0 0 1em;
  position: absolute;
  right: 0;
  z-index: 10;
}

.skill-scale::before {
  top: 10px;
  right: -10px;
  position: relative;
  color: #ffffff;
}

.skill-scale-future {
  height: 2.5em;
  background: rgb(75, 255, 186);
  border-radius: 1em 0 0 1em;
  position: absolute;
  right: 0;
  z-index: 5;
}

.skill-scale-future::before {
  top: 10px;
  right: -10px;
  position: relative;
  color: rgb(0, 17, 255);
}

.skill-scale-html {
  width: 25em;
}

.skill-scale-html::before {
  content: "70%";
}

.skill-scale-html-future {
  width: 30em;
}

.skill-scale-html-future::before {
  content: "100%";
}

.skill-scale-css {
  width: 20em;
}

.skill-scale-css::before {
  content: "50%";
}

.skill-scale-css-future {
  width: 25em;
}

.skill-scale-css-future::before {
  content: "70%";
}

.skill-scale-js {
  width: 20em;
}

.skill-scale-js::before {
  content: "50%";
}

.skill-scale-js-future {
  width: 30em;
}

.skill-scale-js-future::before {
  content: "100%";
}

.skill-scale-eng {
  width: 15em;
}

.skill-scale-eng::before {
  content: "30%";
}

.skill-scale-eng-future {
  width: 20em;
}

.skill-scale-eng-future::before {
  content: "50%";
}

.skill-scale-blind {
  width: 15em;
}

.skill-scale-blind::before {
  content: "30%";
}

.skill-scale-blind-future {
  width: 20em;
}

.skill-scale-blind-future::before {
  content: "50%";
}

.skill-scale-tm {
  width: 13em;
}

.skill-scale-tm::before {
  content: "25%";
}

.skill-scale-tm-future {
  width: 25em;
}

.skill-scale-tm-future::before {
  content: "70%";
}

.skill-scale-softskill {
  width: 20em;
}

.skill-scale-softskill::before {
  content: "50%";
}

.skill-scale-softskill-future {
  width: 22.5em;
}

.skill-scale-softskill-future::before {
  content: "60%";
}

.skill-scale-new {
  width: 7em;
}

.legend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 1em;
}

.legend ul li {
  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-right: 1em;
}

.legend .present {
  background-color: rgb(0, 17, 255);
  color: #ffffff;
}

.legend .future {
  background-color: rgb(75, 255, 186);
  color: rgb(0, 17, 255);
}

footer {
  margin-top: 3em;
  background-color: rgb(0, 17, 255);
  color: #ffffff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 5em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 2em;
}
